.preview {
  height: 120vh;
  background-color: #eeeff1;
}
.preview {
  padding: 5vh;
  padding-left: 10vh;
  padding-right: 10vh;
}
.preview__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.preview__img {
  margin-top: 40px;
  width: 800px;
  height: fit-content;
}
.hide__img {
  display: none;
}
.preview__info {
  width: 40vw;
}
.preview__title {
  margin: 0px;
}
.preview__subtitle {
}
.preview__buttons {
  display: flex;
  flex-direction: row;
}
.preview__app {
  background-color: #1b1b1d;
  padding: 15px 25px;
  border-radius: 25px;
  margin-right: 10px;
}
.preview__app:hover {
  background-color: #64646a;
}
.preview__shop {
  background-color: none;
}

@media (max-width: 992px) {
  .preview {
    height: 120vh;
  }
}

@media (max-width: 768px) {
  .preview {
    height: 170vh;
  }
  .preview__img {
    display: none;
  }
  .preview__info {
    width: 100%;
    align-content: center;
    align-items: center;
  }
  .hide__img {
    display: inline;
    width: 400px;
    height: fit-content;
  }
}
