@import url("fonts.css");
@import url("header.css");
@import url("preview.css");
@import url("info.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: white;
}
img {
  max-width: 80vh;
  height: auto;
}
svg {
  width: 80%;
  fill: #1b1b1d;
}
.logo {
  width: 126px;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-inline: 100px;
  margin: 0 auto;
}

.review {
  height: 100vh;
  background-color: #f3f4f5;
}

.contact {
  height: 100vh;
  background: linear-gradient(#f3f4f5, #ffffff);
  /* background-color: #ffffff; */
}

.footer {
  height: 20vh;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 992px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
