.contact {
  background: linear-gradient(#f3f4f5, #ffffff);
}
.contact__section {
  margin: 0;
  padding: 0;
  padding-left: 7vw;
  padding-right: 7vw;
}
.contact__up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact__info {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.contact__logo {
  width: 300px;
  height: fit-content;
}
.contact__text {
}
.contact__contact {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.contact__title {
}
.contact__pare {
}
.contact__svg {
}
.contact__line {
}

.contact__down {
}
.contact__location {
}
.contact__link {
}
.contact__connection {
}
.contact__email {
}
.contact__button {
  background-color: #1b1b1d;
  padding: 15px 25px;
  border-radius: 25px;
  margin-right: 10px;
}
.contact__button:hover {
  background-color: #64646a;
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
