.contact {
  padding-top: 20px;
  background: linear-gradient(#f3f4f5, #ffffff);
}
.contact__section {
  margin: 0;
  padding: 0;
  padding-left: 7vw;
  padding-right: 7vw;
}
.contact__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact__info {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.contact__logo {
  width: 300px;
  height: fit-content;
  margin-bottom: 40px;
}
.contact__text {
  margin: 0;
  margin-bottom: 20px;
}
.contact__contact {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 40px;
}
.contact__title {
  margin: 0;
  padding-bottom: 10px;
}
.contact__pair {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact__img {
  width: 70px;
  height: 70px;
}
.contact__link-button {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  margin-right: 20px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
}
.contact__links {
  margin-top: 20px;
  margin-bottom: 40px;
}
.contact__find {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.contact__email {
  background-color: #ffffff;
  padding: 15px 25px;
  border-radius: 25px;
  margin-right: 10px;
  border: 0;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
  margin-top: 30px;
  margin-bottom: 40px;
}
.contact__button {
  width: 180px;
  background-color: #1b1b1d;
  padding: 15px 30px;
  border-radius: 25px;
  margin-right: 10px;
}
.contact__button:hover {
  background-color: #64646a;
}

@media (max-width: 992px) {
  .contact__card {
    flex-direction: column;
  }
  .contact__info {
    width: 100%;
  }
  .contact__contact {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact__logo {
    width: 200px;
  }
  .contact__img {
    width: 40px;
    height: 40px;
  }
  .contact__link-button {
    width: 40px;
    height: 40px;
  }
  .contact__pair {
    margin: 0;
    padding: 0;
  }
  .contact__email {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
