.order {
  background-color: #f3f4f5;
}
.order__section {
  width: 100%;
  padding: 7vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.order__img {
  width: 720px;
}
.hide__img-order {
  display: none;
}
.order__info {
  margin-left: 100px;
  margin-right: 100px;
}
.order__title {
  margin: 0px;
}
.order__text {
}
.order__button {
  margin-top: 40px;
  background-color: #1b1b1d;
  padding: 15px 30px;
  border-radius: 25px;
  margin-right: 10px;
}
.order__button:hover {
  background-color: #64646a;
}

@media (max-width: 992px) {
  .order {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .order__section {
    margin: 0;
    padding: 0;
  }
  .order__img {
    display: none;
  }
  .hide__img-order {
    display: flex;
    width: 600px;
  }
  .order__info {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .order__title {
    padding-top: 20px;
    text-align: center;
  }
  .order__text {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .order__info {
    margin: 0;
    padding: 0;
  }
  .order__section {
    margin: 0;
    padding: 0;
  }
  .order__title {
    width: 80%;
  }
  .order__text {
    width: 80%;
  }
  .hide__img-order {
    display: inline;
    width: 300px;
    height: fit-content;
  }
}
