.preview {
  background-color: #f3f4f5;
  width: 100%;
  padding: 5vh;
  padding-left: 10vh;
  padding-right: 10vh;
}
.preview__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.preview__img {
  margin-top: 40px;
  width: 800px;
  height: fit-content;
}
.hide__img {
  display: none;
}
.preview__info {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.preview__title {
  margin: 0px;
}
.preview__subtitle {
}
.preview__buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 30px;
}
.preview__app {
  background-color: #1b1b1d;
  padding: 15px 25px;
  border-radius: 25px;
  margin-right: 10px;
}
.preview__app:hover {
  background-color: #64646a;
}
.preview__shop {
  background-color: rgba(255, 255, 255, 0);
}
.preview__shop:hover {
  color: #64646a;
}

@media (max-width: 992px) {
  .preview {
  }
  .preview__title {
    text-align: center;
  }
  .preview__subtitle {
    text-align: center;
    width: 80%;
  }
  .preview__buttons {
    flex-direction: column;
  }
  .preview__shop {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .preview {
    padding: 0;
    margin: 0;
  }
  .preview__img {
    display: none;
  }
  .preview__title {
    padding-top: 20px;
  }

  .preview__info {
    width: 100%;
    align-content: center;
    align-items: center;
  }
  .hide__img {
    display: inline;
    width: 300px;
    height: fit-content;
  }
}
