@import url("fonts.css");
@import url("header.css");
@import url("preview.css");
@import url("info.css");
@import url("order.css");
@import url("review.css");
@import url("contact.css");
@import url("footer.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: white;
}
img {
  max-width: 800px;
  height: fit-content;
}
svg {
  width: 80%;
  fill: #1b1b1d;
}
.logo {
  width: 126px;
  height: fit-content;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}

hr {
  color: #64646a;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-inline: 100px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 992px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  hr {
    width: 90%;
  }
}
